<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">À propos</h1>
      </div>
      <!-- page description --> 
      
    </div>
    <!-- page section --> 
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to "Accueil", root_path %></li>
      <li class="active">À propos</li>
    </ol>
  </div>
</div>
<!-- /.page-header -->
<div class="main-container"><!-- main container -->
  <div class="space-bottom-80">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title">
          <h1>Nous réparons immédiatement vos téléphones cellulaires</h1>
          <p>Rien ne se perd, tout se répare.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"> <%= image_tag("crashed-iphone.jpg", class: "img-responsive") %> </div>
        <div class="col-md-6">
          <p class="lead">Nos techniciens, dotés de 5 années d’expérience dans le domaine de la réparation des téléphones cellulaires, délivrent au client un service rapide, qualitatif et normé. Dans la majorité des cas, votre réparation se fait sur place en 60 minutes..</p>
          <h2>Autres services</h2>
          <ul class="listnone circle">
              <li>
                  Un large choix d’accessoires (batteries, chargeurs, étuis de protection, etc)
              </li>
              <li>
                  Service de déverrouillage de votre téléphone cellulaire afin que vous puissiez l’utiliser avec tous les opérateurs.
              </li>
              <li>
                  Téléphones neufs et des remis à neuf à vendre à des très bon prix.
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>