<!-- /.page-header -->
<div class="main-container"><!-- main container -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 pricing-block"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Réparation iphone</h1>
          
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <!-- pricing list -->
              <li class="price-item"> <span class="price-amount">$69.99</span> Remplacement de Vitre </li>
              <li class="price-item"> <span class="price-amount">$29.99</span> Remplacement de Piles </li>
              <li class="price-item"> <span class="price-amount">$29.99</span> Remplacement de connecteur </li>
            </ul>
         </div>
        </div>
      </div>
      <!-- /.pricing block -->
      <div class="col-md-6 pricing-block"><!-- pricing block -->
        <div class="pricing-head"><!-- pricing head -->
          <h1 class="heading-white">Réparation autres modèles</h1>
        </div>
        <!-- /.pricing head -->
        <div class="well-bg">
          <div class="well-inner">
            <ul class="price-list listnone check-circle">
              <li class="price-item"> <span class="price-amount"></span> Remplacement de Vitre </li>
              <li class="price-item"> <span class="price-amount"></span> Remplacement de Piles </li>
              <li class="price-item"> <span class="price-amount"></span> Remplacement de connecteur </li>
            </ul>
            <%= link_to "Devis ", new_contact_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>