<div class="page-header"><!-- page-header -->
  <div class="container">
    <div class="row page-section"><!-- page section -->
      <div class="col-md-12 page-description"><!-- page description -->
        <h1 class="page-title">Services</h1>
      </div>
      <!-- page description --> 
      
    </div>
    <!-- page section --> 
  </div>
  <div class="page-breadcrumb">
    <ol class="breadcrumb">
      <li><%= link_to "Accueil", root_path %></li>
      <li class="active">Services</li>
    </ol>
  </div>
</div>

<div class="main-container-services"><!-- main container -->
  <div class="section-space">
     <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h1>Réparation</h1>
          </div>
          <div class="row">
            <p>Votre cellulaire est tombé dans l’eau? Il ne s’allume plus? Votre écran est brisé? Peu importe ce qui vous est arrivé, rendez-vous à notre magasin et nous allons vous aider et le réparer. Nous savons que votre appareil est très important pour vous, c’est pour cette raison que nous le réparerons dans les meilleurs délais possibles en vous chargeant un prix raisonnable.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="section-space section-primary-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title">
          <h1 class="heading-white">Vente d’accessoires</h1>
        </div>
      </div>
      <div class="row">
        <p>Chez  RepCell, vous pouvez  facilement trouver toutes les pièces dont vous avez besoin pour protéger votre cellulaire. Une variété d’étuis et de housses est mise à votre disposition à des tarifs abordables. Il vous est possible aussi de vous procurer un film protecteur qui sera un véritable rempart contre égratignures qui peuvent toucher l’écran votre téléphone. Vous pouvez aussi choisir le produit qu’il vous faut parmi les autres accessoires que nous proposons (chargeur, écouteurs, support pour l’auto, etc).</p>
      </div>
    </div>
  </div>
  <div class="section-space">
     <div class="container">
        <div class="row">
          <div class="col-md-12 section-title">
            <h1>Vente de cellulaires usagés</h1>
          </div>
          <div class="row">
            <p>Pourquoi acheter son téléphone neuf à plein prix? Offrez vous un cellulaire usagé au meilleur prix. Nos appareils d'occasion ont été vérifiés, contrôlés et nettoyés par des techniciens qualifiés. Ils ont tous subi une série de tests ainsi qu'un effacement intégral de leurs données.</p>
          </div>
        </div>
      </div>
  </div>
  <div class="section-space section-primary-bl">
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title">
          <h1 class="heading-white">Déverrouillage</h1>
        </div>
      </div>
      <div class="row">
        <p>Lorsque vous achetez un téléphone cellulaire chez un opérateur (Bell, Telus, Rogers, etc), votre carte SIM ne peut être utilisée qu’avec un forfait dispensé par cet opérateur : On dit qu’il est verrouillé. Pour déverrouiller votre téléphone cellulaire et l’utiliser avec un autre opérateur, nos techniciens se chargeront à vous obtenir un code de déverrouillage permanent dans les plus brefs délais.</p>
      </div>
    </div>
  </div>
</div>
