<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-widget"> <%= image_tag("logo_white.png") %>
        <p>Nous nous engageons à offrir à nos clients un service exceptionnel grâce à notre personnel qualifié.</p>
        <p>Nous réparons et nous déverrouillons les téléphones cellulaires les plus populaires  sur le marché québécois. Aussi, nous vendons des étuis et d'autres accessoires ainsi que des appareils mobiles usagés.</p>
      </div>
      <div class="col-md-3 footer-widget">
        <h3 class="footer-widget-title">contact</h3>
        <p>990 Boulevard Pie-XI Sud, <br>Ville de Québec, QC G3K 1L2.</p>
        <p>Lundi - Dimanche: 10am - 7pm.</p>
        <p>Cellulaire: 418-255-2139</p>
      </div>
      <div class="col-md-2 footer-widget">
        <h3 class="footer-widget-title">Pages</h3>
        <ul class="listnone">
          <li><%= link_to "À propos de nous", about_path %></li>
          <li><%= link_to "Services", services_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
      <div class="col-md-3 footer-widget">
        <h3 class="footer-widget-title">Services</h3>
        <ul class="listnone">
          <li><p>Réparation</p></li>
          <li><p>Vente d'accessoires</p></li>
          <li><p>Vente de cellulaires usagés</p></li>
          <li><p>Déverouillage</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="tiny-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="copyright-text">Copyright © 2016 RepCell</p>
      </div>
      <div class="col-md-6">
        <div class="ft-social-widget"> <a target="_blank" href="https://www.facebook.com/Repcellvalbelair" title="Facebook"><i class="fa fa-facebook"></i></a></div>
      </div>
    </div>
  </div>
</div>